body{
  /*background-color: #426E70;*/
  font-family: 'Lato', sans-serif;
}
.jumbotron{
  background-color: #426E70;
  color:white;
  text-align: center;
}
#panel-heading{
  background-color: #426E70;
  color:white;
  font-weight: bold;
  font-size: 16px;
}
